* {
	font-size: 11px;
	font-family: DejaVuSans;
}

window#waybar {
	background: #1a1a1a;
	color: #fdf6e3;
}
r
#custom-right-arrow-dark,
#custom-left-arrow-dark {
	color: #1a1a1a;
}
#custom-right-arrow-light,
#custom-left-arrow-light {
	color: #292b2e;
	background: #1a1a1a;
}
#custom-rofi,
#custom-terminal,
#custom-firefox,
#custom-arquivos,
#custom-telegram,
#workspaces,
#clock.1,
#clock.2,
#clock.3,
#pulseaudio,
#backlight,
#memory,
#cpu,
#temperature,
#battery,
#tray,
#custom-desligar {
	background: #1a1a1a;
}
#custom-rofi {
	color: #0061ff;
}
#custom-terminal {
	color: #ffffff;
}
#custom-firefox {
	color: #ffa000;
}
#custom-arquivos {
	color: #ffffff;
}
#custom-telegram {
	color: #ffffff;
}

#clock.1 {
	color: #f8ce8d;
	background: #1a1a1a;
}

#clock {
	color: #ff9ebb;
	background: #1a1a1a;
}

#workspaces button {
	padding: 0 2px;
	color: #ffffff;
}
#workspaces button.focused {
	color: #ff0000;
}
#workspaces button:hover {
	box-shadow: inherit;
	text-shadow: inherit;
}
#workspaces button:hover {
	background: #1a1a1a;
	border: #1a1a1a;
	padding: 0 3px;
}
#pulseaudio {
	color: #ffffff;
	background: #1a1a1a;
}

#memory {
	color: #f8f08d;
	background: #1a1a1a;
}
#temperature {
	color: #8df88d;
	background: #1a1a1a;
}
#cpu {
	color: #8dd3f8;
	background: #1a1a1a;
}

#custom-desligar {
	color: #ffffff;
	background: #1a1a1a;
}

#custom-rofi,
#clock,
#pulseaudio,
#backlight,
#memory,
#cpu,
#temperature,
#battery,
#custom-desligar {
	padding: 0 10px;
}